
.view-wrapper {
  a {
    text-decoration: none;
    opacity: 0;
    float: left;
    margin-left: -20PX;
    transition: opacity 0.1s;
  }
  .tip {
    background-color: black;
    color: #fff;
    padding: 10PX;
    box-sizing: border-box;
    margin: 10PX 0;
  }
  .warning {
    background-color: yellowgreen;
    color: #fff;
    padding: 10PX;
    box-sizing: border-box;
    margin: 10PX 0;
  }
  
  h1:hover a, h2:hover a {
    opacity: 1;
  }

  .hljs {
    width: 100%;
    margin: 0;
    padding: 18PX 20PX;
    padding-top: 0PX;
    box-sizing: border-box;
    border-radius: 3PX;
    font-size: 13PX;
    line-height: 1.3;
    font-family: Menlo, Monaco, Consolas, Courier, monospace;
  }
}

