.tip {
  background-color: black;
  color: #fff;
  padding: 10PX;
  box-sizing: border-box;
  margin: 10PX 0;
}
.warning {
  background-color: yellowgreen;
  color: #fff;
  padding: 10PX;
  box-sizing: border-box;
  margin: 10PX 0;
}