
/* 白色 - LIGHT */
:root {
  --mo-text-primary-color: #222222;   /* 白色 - 主色 */
  --mo-text-regular-color: #2D2D2D;   /* 一级辅助色  */
  --mo-text-secondary-color: #B2B2B2; /* 二级辅助色  */

  --mo-bg-color: #FFFFFF
}
